.chatwindow-container {
  z-index: 1000;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.persona-dialog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 40vw;

  border: 1px solid var(--violet-neon);
  border-radius: 20px;
}

.persona-header {
  padding: 5px;
  border-bottom: 1px solid var(--violet-neon);
  border-radius: 13px;
  flex-grow: 0;
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
  flex-basis: 100vh;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid var(--violet-neon);
  max-width: 80%;
  overflow-wrap: break-word;
}

.user-message {
  color: white;
  margin-left: auto;
  text-align: right;
}

.bot-message {
  color: white;
  margin-right: auto;
}

.persona-input {
  padding: 10px;
  border-top: 1px solid var(--violet-neon);
  border-radius: 13px;
  display: flex;
  gap: 10px;
  flex-grow: 0;
}

.persona-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid var(--violet-neon);
  border-radius: 15px;
  background-color: transparent;
  color: white
}

.persona-input input:focus {
  outline: none;
}

.persona-input input::placeholder{
  color: var(--violet-neon);
  opacity: 0.5;
}

.persona-input input[data-hover] {
  border-color: var(--default-blue-neon);
}

.persona-input input[data-focus] {
  border-color: var(--default-blue-neon);
}

.persona-input button {
  padding: 5px 15px;
  border: 1px solid var(--default-blue-neon);
  color: var(--default-blue-neon);
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  font-size: 23px;
}

.persona-input button:hover {
  color: var(--default-greenish-neon);
  border: 1px solid var(--default-greenish-neon);
}