/* layout.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: monospace; */
  background-color: #0d0d0d;
  color: var(--default-blue-neon);
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0d0d0d; /* dark background */
  color: var(--default-blue-neon);
  align-items: stretch;
}

.main-footer {
  padding: 1rem;
  border: 1px solid var(--default-blue-neon);
  background-color: #101010;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
}
