.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.chat-window {
  width: 70%;
  background: black;
  padding: 1px;
}

.chat-history {
  width: 30%;
  background: rgba(64, 61, 61, 0.75);
  color: white;
  padding: 1rem;
  overflow-y: auto;
}
