:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "WeirdCoolCyberpunk";
  src: url('src/assets/fonts/cubic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: "Batman";
  src: url('src/assets/fonts/batmfa__.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --default-blue-neon: #00eaff;
  --pale-blue-neon: #76f4ff;
  --default-greenish-neon: #00ff99;
  --violet-neon: #646cff;
}

.text-neon-glow-light {
  text-shadow:
    0 0 4px var(--default-blue-neon),
    0 0 8px var(--default-blue-neon),
    0 0 16px #fff;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 16px;
  background: rgba(255, 0, 0, 0.842); /* translucent red */
  border: 1px solid rgba(255, 100, 100, 0.5);
  border-radius: 3px;
  color: red;
  backdrop-filter: blur(8px); /* acrylic effect */
  -webkit-backdrop-filter: blur(8px); /* for Safari */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

